.signup-container {
    text-align: left;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: auto;
    border-radius: 15px;
    background-color: #fff;
    max-width: 400px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.signup-form h2 {
    text-align: center;
    margin: 10px;
    padding: auto;
    border-bottom: 2px solid #2d3436;
}

.signup-form label {
    display: block;
    font-weight: 300;
    padding: 10px;
    margin: auto;
}

.signup-form input {
    justify-content: left;
    margin: 10px 0px 0px 0px;
    padding: auto;
    border: 1px solid;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.signup-form input.active,
.signup-form input:hover {
    transition: background 0.2s ease, color 0.2s ease;
    font-weight: 500;
    border: 1px solid #2d3436;
}

.gender-options label {
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.signup-form button {
    background-color: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s color 0.2s;
    padding: 5px 10px 5px 10px;
    margin: auto;
    color: white;
    background-color: #2e86de;
    display: block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.signup-form button:hover {
    background-color: #1b4f72;
    color: white;
    transform: translateY(-1px);
}

.login-link {
    font-size: 14px;
    text-align: center;
}

.login-link a {
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}