.payment-class{
    text-align: left;
    align-items: center;
    justify-content: center;
    border: none;
    margin: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border-radius: 15px;
    max-width: 400px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.payment-class h2{
    text-align: center;
    margin: 10px;
    padding: auto;
    border-bottom: 2px solid #2d3436;
}

.payment-class label{
    display: block;
    font-weight: 300;
    padding: 10px;
    margin: auto;
}

.payment-class input{
    margin-bottom: 16px;
    margin-top: 6px;
    justify-content: baseline;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: auto;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
}

.payment-class input.active,
.payment-class input:hover {
 transition: background 0.2s ease, color 0.2s ease;
 font-weight: 500;
 border: 1px solid #2d3436;
}

.payment-class button{
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #2e86de;
    border: none;
    display: block;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.payment-class button:hover{
    color: white;
    background-color: #1b4f72;
    transform: translateY(-1px);

}

.select-label{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}


.custom-select{
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: border-color 03.s;
}

.custom-select :focus{
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}