<!-- 

<app-login *ngIf="isloggedin != true" (logicEvent)="received($event)"></app-login>

<div class="row">
  <div class="col-2">
    <app-sidebar *ngIf="isloggedin == true" (logicEvent)="received($event)" />
  </div>
  <div class="col-10">
    <router-outlet *ngIf="isloggedin == true"/>
  </div>
</div>



 -->



 <!-- Only show sidebar/dashboard layout when logged in -->
<!-- <div *ngIf="isloggedin == true" class="row">
  <div class="col-2">
    <app-sidebar (logicEvent)="received($event)"></app-sidebar>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- Otherwise, show login/signup based on route -->
<!-- <div *ngIf="isloggedin != true">
  <router-outlet></router-outlet>
</div> -->

<div *ngIf="!isloggedin">
  <app-login (logicEvent)="received($event)"></app-login>
</div>


<div *ngIf="isloggedin">
  <div class="row">
<div class="col-2">
      <app-sidebar (logicEvent)="received($event)"></app-sidebar>
</div>
    <div class="col-10">
      <router-outlet></router-outlet>
      <app-chat/>
    </div>
  </div>
</div>

